<footer>
    <div>
      Powered by
      <a href="https://openweathermap.org/" title="Weather API"
        >OpenWeatherMapAPI.com</a
      >
    </div>
    <div class="author">
      <a id="gh-link" href="https://github.com/huseinspahich">
        <div>Made by</div>
        <img id="gh-logo" src="images/hh-logo.jpg" alt="">
        <div>Harun Huseinspahic</div>
      </a>
    </div>
    <div>
        <p>Copyright © <%= new Date().getFullYear() %>
    </div>
   
</footer>
</body>
</html>